#interface {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    max-height: 80vh;
    overflow: scroll;
}

#tranScreen {
    position: absolute;
    margin: 0 auto;
    font-size: xx-large;
    transition-timing-function: ease-in;
    display: none;
}

.next {
    display: none;
    transition-timing-function: ease-in;
}