:root {
    --darker-blue: #013B92;
}

#interface {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.6;
}

#content {
    max-height: 80vh;
    overflow: scroll;
}

#tranScreen {
    position: absolute;
    font-size: xx-large;
    transition-timing-function: ease-in;
    display: none;
    width: 90vw;
    height: 80vh;
}

#tranScreen>div {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.roll-stat {
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
}

.roll-stat>.stat {
    display: flex;
    flex-flow: column nowrap;
}

.next {
    display: none;
    transition-timing-function: ease-in;
}

.alteration {
    display: flex;
}

.increment,
.decrement {
    flex: 1 1 auto
}

.select {
    padding: 2rem
}

.next {
    border: 1px var(--darker-blue) solid;
    padding: 1rem;
}

.choices {
    padding: 1rem;
}

#stat-roll,
#point-buy {
    display: none;
    transition-timing-function: ease-in;
}

.btn-primary {
    color: white;
    background-color: var(--darker-blue);
    border-color: var(--darker-blue)
}
